<configuration debug="false" scan="false" scanPeriod="60 seconds">
    
    <property resource="logging.properties" />
    
    <contextName>${application.name}</contextName>
    
    <jmxConfigurator />

    
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <append>true</append>
        <file>${application.logfile}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${application.logfile}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %X{mdcvars:--} %-5level %logger{35} - %msg %replace(%rEx){'[\r\n]+', '~~'}%nopex %n</pattern>
        </encoder>
    </appender>
    
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %X{requestId} %-5level %logger{40} %X{userId}- %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>