<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<databaseChangeLog xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
	xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.0.xsd">

	<changeSet author="johlyn" id="SETTINGS table">
		<createTable tableName="settings">
			<column name="setting_id" type="BIGINT">
				<constraints primaryKey="true" primaryKeyName="setting_pk" />
			</column>
			<column name="setting_field" type="VARCHAR(25)">
                <constraints nullable="false"/>
            </column>
            <column name="setting_label" type="VARCHAR(25)">
                <constraints nullable="false"/>
            </column>
			<column name="setting_desc" type="VARCHAR(80)" />
			<column name="setting_updattim" type="TIMESTAMP WITHOUT TIME ZONE" />
			<column name="setting_upuser" type="VARCHAR(60)" />
		</createTable>
        
        <createSequence sequenceName="setting_id_seq"/>

        <createIndex tableName="settings" indexName="setting_field_indx">
            <column name="setting_field"/>
        </createIndex>
        
		<rollback>
			<dropTable tableName="settings" cascadeConstraints="true"/>
		</rollback>
	</changeSet>
	
	<changeSet author="nhily" id="Remove old sequence">
		<dropSequence sequenceName="setting_id_seq"/>
	</changeSet>
</databaseChangeLog>
